/* src/styles/credits.css */

/* SECCIÓN DE PRODUCTOS CREDITICIOS */
.seccion-creditos {
  padding: 3rem 0;
  background-color: White; 
}

.seccion-creditos h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #061f48; 
  text-align: left;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

/* GRID DE TARJETAS */
.credits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
  padding: 0 20px;
}

/* TARJETA INDIVIDUAL */
.credit-card {
  background-color: #ffffff; 
  border-radius: 12px;
  padding: 0; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

.credit-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 15px rgba(1, 21, 131, 0.2); 
}

/*DETALLES DEL CRÉDITO*/
.details {
  margin-bottom: 1.5rem;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #939cda;
}

.label {
  color: #6b7280;
  font-size: 0.9rem;
}

.value {
  font-weight: 600;
  color: #2F4F4F;
}

.highlight {
  color: #022673;
  font-size: 1.1rem;
}

/* Descripción dentro de la tarjeta */
.card-description {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #2F4F4F; /* Gris oscuro para que se vea bien */
  padding: 0 0.5rem 0.5rem 0.5rem; /* un poquito de espacio */
  line-height: 1.4;
}


/* BOTONES GENERALES */
.btn-primary,
.btn-secondary {
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.btn-primary {
  background-color: #294b76;
  color: white;
}

.btn-primary:hover {
  background-color: #071743; 
}

.btn-secondary {
  background-color: #0c044c;
  color: White; 
}

.btn-secondary:hover {
  background-color: #39549d; 
  color: white;
}
